<h2>🎉 Happy Birthday Week!</h2>
<p>Use your discount code: <strong>{{discountCode}}</strong></p>

<h3>Suggested for you:</h3>
<ul>
  {{#each products}}
    <li>{{this.name}} ({{this.category}})</li>
  {{/each}}
</ul>
